body {
  background-color: black;
}

h1 {
  color: white;
}

.carousel-inner {
  display: block;
  width: 100%;
  max-height: 500px;
}

.item {
  display: block;
  width: 100%;
  max-height: 500px;
}

img {
  display: block;
  width: 100%;
  max-height: 500px;
}
